{% extends "base.html" %}

{% block main_content %}

<div class="splitscreen">
    <div class="left">
        <img src="https://media2.giphy.com/media/ggiQj578N67zmd1Tbt/giphy.gif?cid=6c09b9523xtnojq2bm07x4ns7cvjry70ocu405gcmcftngow&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" 
        alt="Home Photo"
        style="margin-left: 250px;">
    </div>
  
<div class="right" >
    <h1 style="margin-left: -100px;">Hello!</h1>

    <p>Welcome to CampusChefs, the website for college students to share their favorite recipes and receive inspiration!</p>

    </div>
</div>

{% endblock %}
