<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Hannah Chiou">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Form</title>
</head>

{% extends "base.html" %}

{% block main_content %}

<!-- TO DO: Add date when recipe is posted -->
<!-- TO DO: Save author name and post it when recipe is posted (possibly using cookies? Reserve for later versions or
 whenever we implement logins.)-->

<body>

<h2> Please fill in all forms to post your new recipe to CampusChefs. </h2>
<p> An important part of my group's final project, CampusChefs, is the ability to <b>post your recipes</b> for other college students to try out and enjoy. This form is an example of what a new recipe post might look like for a user. </p>

<section>
<h2> New recipe </h2>

<form id="recipe-form" method="post" enctype="multipart/form-data" action="{{url_for('recipeform')}}">

<label for="title"> Recipe title</label>
<input type="text" id="title" name="title" placeholder="Enter a short recipe title" required>

<!-- TO DO: only certain file types allowed (jpeg, jpg, pdf)-->
<!-- TO DO: only certain sizes / resolutions of images allowed (eg. 1024px x 2000px)-->
<p><b>Upload a cover photo: </b></p>
    <label>Picture: <input type="file" name="cover-photo" required></label>

<label for="size"> Serving size</label>
<select id = 'size' name = 'size' required>
    <option value = ""> select </option>
    <option value = "1"> 1 </option> 
    <option value = "2"> 2 </option> 
    <option value = "3"> 3 </option> 
    <option value = "4"> 4 </option> 
    <option value = "5"> 5 </option> 
    <option value = "6"> 6 </option> 
    <option value = "7"> 7 </option> 
    <option value = "8"> 8 </option> 
    <option value = "9+"> 9+ </option> 
</select>

<!-- TO DO: Automatically add total time using user's entered prep and cook time --> 

<label for="prep-time">Prep Time (minutes):</label>
<input type="number" id="prep-time" name="prep-time" placeholder="Enter prep time" required>

<label for="cook-time">Cook Time (minutes):</label>
<input type="number" id="cook-time" name="cook-time" placeholder="Enter cook time" required>

<!-- TO DO: Dynamically add rows using JS -->
<p> <b>Ingredients and Measurements </b></p>
    <table>
        <tr>
            <td>
                <label for="quantity1">Quantity:</label>
                <input type="number" id="quantity1" name="ingredients[0][quantity]" placeholder="Enter quantity" required>
            </td>
            <td>
                <label for="measurement1">Measurement:</label>
                <input type="text" id="measurement1" name="ingredients[0][measurement]" placeholder="Enter measurement" required>
            </td>
            <td>
                <label for="ingredient1">Ingredient:</label>
                <input type="text" id="ingredient1" name="ingredients[0][name]" placeholder="Enter ingredient" required>
            </td>
        </tr>
        <!-- Row 2 -->
        <tr>
            <td>
                <label for="quantity2">Quantity:</label>
                <input type="number" id="quantity2" name="ingredients[1][quantity]" placeholder="Enter quantity" required>
            </td>
            <td>
                <label for="measurement2">Measurement:</label>
                <input type="text" id="measurement2" name="ingredients[1][measurement]" placeholder="Enter measurement" required>
            </td>
            <td>
                <label for="ingredient2">Ingredient:</label>
                <input type="text" id="ingredient2" name="ingredients[1][name]" placeholder="Enter ingredient" required>
            </td>
        </tr>
        <!-- Row 3 -->
        <tr>
            <td>
                <label for="quantity3">Quantity:</label>
                <input type="number" id="quantity3" name="ingredients[2][quantity]" placeholder="Enter quantity" required>
            </td>
            <td>
                <label for="measurement3">Measurement:</label>
                <input type="text" id="measurement3" name="ingredients[2][measurement]" placeholder="Enter measurement" required>
            </td>
            <td>
                <label for="ingredient3">Ingredient:</label>
                <input type="text" id="ingredient3" name="ingredients[2][name]" placeholder="Enter ingredient" required>
            </td>
        </tr>
    </table>

<!-- Adding dynamically added rows for the ingredients using jss (ingredients.js) -->
<button type="btn">Add Row</button>
<script src="{{url_for('static', filename='ingredients.js')}}"></script>

<script>
    document.getElementById('btn')
        .addEventListener( 'click', (e) => addrow(e));
</script>


<label for="steps"> Recipe steps</label>
<textarea id="steps" name="steps" placeholder="Enter the steps to create your recipe here!" required></textarea>

<label for="tags"> Tags </label>
<div class="radio-group">
    <p><b> Select the price of the recipe:</b></p>
    <label>
        <input type="radio" name="price" value="low"> $
    </label>
    <label>
        <input type="radio" name="price" value="medium"> $$
    </label>
    <label>
        <input type="radio" name="price" value="high"> $$$
    </label>
</div>

<div class="tags-group">
    <p id="tagsLabel"><b> Choose tags that apply to your recipe: </b> </p>
    <p id="tagsHelp"><i>Press command to select multiple tags.</i></p>
    <select id="tags" name="tags" multiple aria-labelledby="tagsLabel" aria-describedby="tagsHelp">
        <option value="vegan">Vegan</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="gluten-free">Gluten-Free</option>
        <option value="dairy-free">Dairy-Free</option>
        <option value="nut-free">Nut-Free</option>
        <option value="quick">Quick Meal</option>
        <option value="meal-prep">Meal Prep</option>
        <option value="comfort-food">Comfort Food</option>
        <option value="breakfast">Breakfast</option>
        <option value="brunch">Brunch</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
        <option value="snack">Snack</option>
        <option value="fall">Fall</option>
        <option value="spring">Spring</option>
        <option value="summer">Summer</option>
        <option value="winter">Winter</option>

    </select>
</div>

<label for="description"> Description or notes </label>
<textarea id="description" name="description" placeholder="Enter an optional description or notes and suggestions for other users!"></textarea>

<p><input type="submit" value="Submit recipe!"> </p>

</form>
</section>

{% endblock %}

</body>
</html>
